html{
    height: 100%;
}
body{
    height: 100%;
}
.country{
    cursor: pointer;
}
#country-indicator{
	height:50px;
    width:300px;
    background-color:#BCD2EE;
    border:2px solid #6495ED;
    border-radius:100px;
    margin:auto;
    text-align:center;
}
#country-indicator h1{
	margin: auto;
	color:blue;
	position: relative;
}
#popup {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #A7A5DD;
	width: 110px;
	height: 80px;
	display: none;
	border-radius:100%;
	text-align: center;
}
#popup2 {
	position: absolute;
	left: 25%;
	top: 50%;
	background-color: #A7A5DD;
	width: 170px;
	height: 120px;
	display: none;
	border-radius:100%;
	text-align: center;
}
#reset {
	position: absolute;
	left: 40%;
	top: 50%;
	background-color: #A7A5DD;
	width: 85px;
	height: 60px;
	display: none;
	border-radius:100%;
	text-align: center;
	cursor: pointer;
}
.ctry-wrong{
	fill:#EC3753;
}
.ctry-fine{
	fill:#10D00B;
	
}