html{
    height: 100%;
}
body{
    height: 100%;
}
svg {
	margin-left: 12%;
}
.country{
    cursor: pointer;
}
#country-indicator{
	padding: 20px;
    text-align:center;
}
#country-indicator h1{
	margin: auto;
}
#pointero {
	position: absolute;
    margin-top: -7%;
    margin-left: 2%;
}
.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #A7A5DD;
	width: 110px;
	height: 80px;
	border-radius:100%;
	text-align: center;
}
.popup2 {
	position: absolute;
	left: 25%;
	top: 50%;
	background-color: #A7A5DD;
	width: 170px;
	height: 120px;
	border-radius:100%;
	text-align: center;
}
.reset {
	position: absolute;
	left: 40%;
	top: 50%;
	background-color: #A7A5DD;
	width: 85px;
	height: 60px;
	border-radius:100%;
	text-align: center;
	cursor: pointer;
}
.ctry-wrong{
	fill:#BC4A48; 
}
.ctry-fine{
	fill:#468847;
	
}
h1.wrong-indicator{
	color:#BC4A48;
	background-color: #F2DEDE;
}
h1.fine-indicator{
	color:#468847;
	background-color:#DFF0D8;
}