html{
    height: 100%;
}
body{
    height: 100%;
}
svg {
	margin-left: 12%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.country{
    cursor: pointer;
}
#country-indicator{
	padding: 20px;
    text-align:center;
    height: 108px;
}
#country-indicator h1{
	margin: auto;
	display: none;
}
#pointero {
	position: absolute;
    margin-left: 5px;
}
.reset {
	position: absolute;
	left: 40%;
	top: 50%;
	background-color: #A7A5DD;
	width: 85px;
	height: 60px;
	border-radius:100%;
	text-align: center;
	cursor: pointer;
}
.ctry-wrong{
	fill:#BC4A48;
}
.ctry-fine{
	fill:#468847;
}
.stroke-country{
	stroke:#BC4A48;
	stroke-width="6";
}

#final-indicator{
  background-color: rgb(190, 180, 180);
  position: absolute;
  height: 25px;
  width: 340px;
  border-style: outset;
  margin-top: 10%;
  border-width: thin;
  left: -340px;
}
#reset-button{
	position: absolute;
	margin-left: 70%;
	margin-top: 1%;
	cursor:pointer;
}
#hint-button{
	cursor: pointer;
	position: absolute;
	margin-top: 310px;
}
.hint-country{
	fill:#3A9AD6;
	opacity: 0.9;
}
#menu-buttons{
    position: absolute;
    margin-left: 390px;
    margin-top: 90px;
}
.buttons{
	height: 100px;
    width: 200px;
}
#container-game{
	opacity: 3;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	fill-opacity:30%;
}
.disable-country{
	fill-opacity:30%;
	pointer-events:none;
}
